@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

@layer components {
  .menu {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 350ms;
  }
  .menu[aria-expanded="true"] {
    transform: scaleY(1);
  }
  @media screen(md) {
    .menu {
      transform: scaleY(1);
    }
  }
}

@layer utilities {
  .wrapper {
    @apply w-[min(100%,58rem)] mx-auto px-8;
  }
  .wrapper-wide {
    @apply max-w-[1100px] mx-auto;
  }
}
