---
import Icon from "astro-icon";
---

<nav
  class="relative group flex justify-between text-white [&_li:hover]:text-pink-600"
>
  <a href="/" class="text-2xl font-bold">Oxster.</a>
  <ul
    class="flex flex-col md:flex-row w-full md:w-auto items-center py-4 md:py-0 gap-4 font-thin absolute min-h-fit bg-slate-200 md:bg-transparent text-slate-950 md:text-current top-[140%] md:static md:min-h-auto rounded-xl menu"
    id="navMenu"
  >
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#works">Works</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <ul class="flex gap-4">
    <li>
      <a href="#facebook">
        <Icon name="facebook" size={28} />
        <span class="sr-only">facebook</span>
      </a>
    </li>
    <li>
      <a href="#twitter">
        <Icon name="twitter" size={28} />
        <span class="sr-only">twitter</span>
      </a>
    </li>
    <li>
      <a href="#linkedin">
        <Icon name="linkedin" size={28} />
        <span class="sr-only">linkedin</span>
      </a>
    </li>
    <li class="md:hidden">
      <button onclick="toggleMenu()">
        <Icon name="menu" size={28} class="group-[:has([aria-expanded='true'])]:hidden" />
        <Icon name="close" size={28} class="hidden group-[:has([aria-expanded='true'])]:block" />
        <span class="sr-only">Open menu</span>
      </button>
    </li>
  </ul>
</nav>

<script lang="js">
  const toggleMenu = () => {
    document.getElementById("navMenu").getAttribute("aria-expanded") === "true"
      ? document.getElementById("navMenu").setAttribute("aria-expanded", "false")
      : document.getElementById("navMenu").setAttribute("aria-expanded", "true");
  };
</script>